.header {
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  align-items: center;
}

.topActionsCtr {
  margin-top: 16px;
  border: 1px solid #000;
  display: flex;
}

.singleActionsWrapper {
  display: flex;
  margin-left: auto;
}

.singleActionCtr {
  display: grid;
  grid-gap: 6px;
  padding: 12px;
}

.singleActionsWrapper .singleActionCtr {
  border-left: 1px solid #000;
}

.actionInput {
  width: 100px;
  border: 1px solid #000;
  outline: unset;
  padding-block: 4px;
  padding-inline: 6px;
}

.pasteActionCtr {
  margin-top: 16px;
}

.textBoxCtr {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 16px;
}

.textarea {
  flex: 1;
  height: 600px;
  padding: 8px;
}

.button {
  padding-inline: 16px;
  padding-block: 8px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
}

.activeCta {
  background-color: #d1d1d1;
}

.button + .button {
  margin-left: -1px;
}

.parsingError {
  max-width: 1280px;
  margin-inline: auto;
  margin-top: 16;
  color: red;
}
